* {
    margin: 0;
    padding: 0;
}



.board {
    height: 700px;
    width: 700px;
    border: 1px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    border: 1px solid black;
}